# User-specific stuff
.idea/

*.iml
*.ipr
*.iws


*.run


# IntelliJ
out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

**/build/

# Common working directory
run/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


# Local Test Launch point
src/test/kotlin/RunTerminal.kt

# Mirai console files with direct bootstrap
/config
/data
/plugins
/bots

# Local Test Launch Point working directory
/economy-main/debug-sandbox
/.vscode/settings.json
/economy-main/debug-sandbox/config/cn.chahuyun.HuYanAuthorize/AuthorizeConfig.yml
/economy-main/debug-sandbox/config/cn.chahuyun.HuYanEconomy/Config.yml
/economy-main/debug-sandbox/config/cn.chahuyun.HuYanEconomy/FishingMsgConfig.yml
/economy-main/debug-sandbox/config/cn.chahuyun.HuYanEconomy/PluginConfig.yml
/economy-main/debug-sandbox/config/cn.chahuyun.HuYanEconomy/RobMsgConfig.yml
/economy-main/debug-sandbox/config/Console/AutoLogin.yml
/economy-main/debug-sandbox/config/Console/AutoLogin.yml.overflow.1783341523308.old
/economy-main/debug-sandbox/config/Console/Command.yml
/economy-main/debug-sandbox/config/Console/Logger.yml
/economy-main/debug-sandbox/config/Console/PermissionService.yml
/economy-main/debug-sandbox/config/Console/PluginDependencies.yml
/economy-main/debug-sandbox/config/xyz.cssxsh.mirai.plugin.mirai-economy-core/plus-data-config.yml
/economy-main/debug-sandbox/data/cn.chahuyun.HuYanAuthorize/authorize.hsqldb.lck
/economy-main/debug-sandbox/data/cn.chahuyun.HuYanAuthorize/authorize.hsqldb.properties
/economy-main/debug-sandbox/data/cn.chahuyun.HuYanAuthorize/authorize.hsqldb.script
/economy-main/debug-sandbox/data/cn.chahuyun.HuYanEconomy/HuYanEconomy.h2.mv.db
/economy-main/debug-sandbox/data/cn.chahuyun.HuYanEconomy/prizes.yml
/economy-main/debug-sandbox/data/cn.chahuyun.HuYanEconomy/title.json
/economy-main/debug-sandbox/data/Console/console-secrets.key
/economy-main/debug-sandbox/data/xyz.cssxsh.mirai.plugin.mirai-economy-core/economy.hsqldb.mv.db.lck
/economy-main/debug-sandbox/data/xyz.cssxsh.mirai.plugin.mirai-economy-core/economy.hsqldb.mv.db.properties
/economy-main/debug-sandbox/data/xyz.cssxsh.mirai.plugin.mirai-economy-core/economy.hsqldb.mv.db.script
/economy-main/debug-sandbox/plugin-libraries/com/zaxxer/HikariCP/3.2.0/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/com/zaxxer/HikariCP/3.2.0/HikariCP-3.2.0.pom
/economy-main/debug-sandbox/plugin-libraries/com/zaxxer/HikariCP/3.2.0/HikariCP-3.2.0.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-core/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-core/1.6.8/ktor-client-core-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-core/1.6.8/ktor-client-core-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-core/1.6.8/ktor-client-core-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-core-jvm/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-core-jvm/1.6.8/ktor-client-core-jvm-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-core-jvm/1.6.8/ktor-client-core-jvm-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-core-jvm/1.6.8/ktor-client-core-jvm-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-okhttp/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-okhttp/1.6.8/ktor-client-okhttp-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-okhttp/1.6.8/ktor-client-okhttp-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-client-okhttp/1.6.8/ktor-client-okhttp-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http/1.6.8/ktor-http-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http/1.6.8/ktor-http-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http/1.6.8/ktor-http-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-cio/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-cio/1.6.8/ktor-http-cio-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-cio/1.6.8/ktor-http-cio-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-cio/1.6.8/ktor-http-cio-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-cio-jvm/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-cio-jvm/1.6.8/ktor-http-cio-jvm-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-cio-jvm/1.6.8/ktor-http-cio-jvm-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-cio-jvm/1.6.8/ktor-http-cio-jvm-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-jvm/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-jvm/1.6.8/ktor-http-jvm-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-jvm/1.6.8/ktor-http-jvm-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-http-jvm/1.6.8/ktor-http-jvm-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-io/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-io/1.6.8/ktor-io-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-io/1.6.8/ktor-io-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-io/1.6.8/ktor-io-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-io-jvm/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-io-jvm/1.6.8/ktor-io-jvm-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-io-jvm/1.6.8/ktor-io-jvm-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-io-jvm/1.6.8/ktor-io-jvm-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-network-jvm/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-network-jvm/1.6.8/ktor-network-jvm-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-network-jvm/1.6.8/ktor-network-jvm-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-network-jvm/1.6.8/ktor-network-jvm-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-utils/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-utils/1.6.8/ktor-utils-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-utils/1.6.8/ktor-utils-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-utils/1.6.8/ktor-utils-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-utils-jvm/1.6.8/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-utils-jvm/1.6.8/ktor-utils-jvm-1.6.8.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-utils-jvm/1.6.8/ktor-utils-jvm-1.6.8.pom
/economy-main/debug-sandbox/plugin-libraries/io/ktor/ktor-utils-jvm/1.6.8/ktor-utils-jvm-1.6.8.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/apache/groovy/groovy-bom/4.0.22/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/apache/groovy/groovy-bom/4.0.22/groovy-bom-4.0.22.pom
/economy-main/debug-sandbox/plugin-libraries/org/apache/groovy/groovy-bom/4.0.22/groovy-bom-4.0.22.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j/2.24.2/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j/2.24.2/log4j-2.24.2.pom
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j/2.24.2/log4j-2.24.2.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j/2.24.3/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j/2.24.3/log4j-2.24.3.pom
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j/2.24.3/log4j-2.24.3.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j-api/2.24.2/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j-api/2.24.2/log4j-api-2.24.2.pom
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j-api/2.24.2/log4j-api-2.24.2.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j-api/2.24.3/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j-api/2.24.3/log4j-api-2.24.3.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j-api/2.24.3/log4j-api-2.24.3.pom
/economy-main/debug-sandbox/plugin-libraries/org/apache/logging/log4j/log4j-api/2.24.3/log4j-api-2.24.3.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.5.30/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.5.30/kotlin-stdlib-1.5.30.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.5.30/kotlin-stdlib-1.5.30.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.6.0/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.6.0/kotlin-stdlib-1.6.0.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.6.0/kotlin-stdlib-1.6.0.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.8.20/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.8.20/kotlin-stdlib-1.8.20.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.8.20/kotlin-stdlib-1.8.20.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.8.22/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.8.22/kotlin-stdlib-1.8.22.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib/1.8.22/kotlin-stdlib-1.8.22.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.5.30/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.5.30/kotlin-stdlib-common-1.5.30.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.5.30/kotlin-stdlib-common-1.5.30.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.6.0/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.6.0/kotlin-stdlib-common-1.6.0.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.6.0/kotlin-stdlib-common-1.6.0.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.8.20/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.8.20/kotlin-stdlib-common-1.8.20.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.8.20/kotlin-stdlib-common-1.8.20.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.8.22/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.8.22/kotlin-stdlib-common-1.8.22.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-common/1.8.22/kotlin-stdlib-common-1.8.22.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.5.30/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.5.30/kotlin-stdlib-jdk7-1.5.30.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.5.30/kotlin-stdlib-jdk7-1.5.30.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.6.10/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.6.10/kotlin-stdlib-jdk7-1.6.10.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.6.10/kotlin-stdlib-jdk7-1.6.10.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.8.22/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.8.22/kotlin-stdlib-jdk7-1.8.22.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.8.22/kotlin-stdlib-jdk7-1.8.22.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.5.30/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.5.30/kotlin-stdlib-jdk8-1.5.30.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.5.30/kotlin-stdlib-jdk8-1.5.30.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.6.10/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.6.10/kotlin-stdlib-jdk8-1.6.10.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.6.10/kotlin-stdlib-jdk8-1.6.10.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.8.22/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.8.22/kotlin-stdlib-jdk8-1.8.22.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.8.22/kotlin-stdlib-jdk8-1.8.22.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/atomicfu/0.17.1/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/atomicfu/0.17.1/atomicfu-0.17.1.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/atomicfu/0.17.1/atomicfu-0.17.1.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/atomicfu/0.17.1/atomicfu-0.17.1.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/atomicfu-jvm/0.17.1/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/atomicfu-jvm/0.17.1/atomicfu-jvm-0.17.1.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/atomicfu-jvm/0.17.1/atomicfu-jvm-0.17.1.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/atomicfu-jvm/0.17.1/atomicfu-jvm-0.17.1.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/kotlinx-coroutines-core/1.5.2-native-mt/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/kotlinx-coroutines-core/1.5.2-native-mt/kotlinx-coroutines-core-1.5.2-native-mt.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/kotlinx-coroutines-core/1.5.2-native-mt/kotlinx-coroutines-core-1.5.2-native-mt.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/kotlinx-coroutines-core-jvm/1.5.2-native-mt/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/kotlinx-coroutines-core-jvm/1.5.2-native-mt/kotlinx-coroutines-core-jvm-1.5.2-native-mt.pom
/economy-main/debug-sandbox/plugin-libraries/org/jetbrains/kotlinx/kotlinx-coroutines-core-jvm/1.5.2-native-mt/kotlinx-coroutines-core-jvm-1.5.2-native-mt.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/luaj/luaj-jse/3.0.1/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/luaj/luaj-jse/3.0.1/luaj-jse-3.0.1.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/org/luaj/luaj-jse/3.0.1/luaj-jse-3.0.1.pom
/economy-main/debug-sandbox/plugin-libraries/org/luaj/luaj-jse/3.0.1/luaj-jse-3.0.1.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/jcl-over-slf4j/2.0.15/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/jcl-over-slf4j/2.0.15/jcl-over-slf4j-2.0.15.jar.sha1
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/jcl-over-slf4j/2.0.15/jcl-over-slf4j-2.0.15.pom
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/jcl-over-slf4j/2.0.15/jcl-over-slf4j-2.0.15.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-api/2.0.15/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-api/2.0.15/slf4j-api-2.0.15.pom
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-api/2.0.15/slf4j-api-2.0.15.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-bom/2.0.15/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-bom/2.0.15/slf4j-bom-2.0.15.pom
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-bom/2.0.15/slf4j-bom-2.0.15.pom.sha1
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-parent/2.0.15/_remote.repositories
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-parent/2.0.15/slf4j-parent-2.0.15.pom
/economy-main/debug-sandbox/plugin-libraries/org/slf4j/slf4j-parent/2.0.15/slf4j-parent-2.0.15.pom.sha1
/economy-main/debug-sandbox/plugin-shared-libraries/libraries.txt
/economy-main/debug-sandbox/overflow.json
